<div class="video" data-video-id="<%= video.video_id %>" data-unique-id="<%= video.unique_id %>">
  <img src="<%= video.thumbnail %>">
  <span><%= video.title %></span>
  <span><%= convert_seconds_to_time(video.duration) %></span>
</div>
